* {
  margin: 0;
  padding: 0;
}

.containerwithBolder {
  
  border-radius: 14px;
  padding: 41px 48px;
  justify-content: space-between;
}
input:focus::placeholder {
  opacity: 0%;
}
input:focus {
  
  outline: rgb(132, 191, 255) solid 0.8px ;
}
.round {
  border-radius: 14px;
  max-width: 33rem;
}
